.single-tweet-img {
    /* border: 1px solid black; */
    margin-left: 15px;
}

.single-tweet-info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: flex-start;
    min-width: 150px;
}

.single-tweet-content {
    margin-top: 20px;
    margin-left: 15px;
    min-height: 40px;
    font-size: 22px;
    width: 500px;
    margin-bottom: -20px;
}

.single-tweet-username {
    /* border: 1px solid black; */
    margin-top: 3px;
    margin-left: 12px;
    font-size: 15px;
}

.single-tweet-edit {
    position: absolute;
    padding-top: 30px;
    margin-top: 20px;
}

.single-tweet-image {
    max-width: 565px;
    margin-top: 20px;
    width: 565px;
    max-height: 400px;
}
