.single-tweet-img {
    /* border: 1px solid black; */
    margin-left: 15px;
}

.single-tweet-info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: flex-start;
    min-width: 150px;
}

.single-tweet-content {
    margin-top: 20px;
    margin-left: 15px;
    min-height: 40px;
    font-size: 22px;
    width: 500px;
    margin-bottom: -20px;
}

.single-tweet-username {
    /* border: 1px solid black; */
    margin-top: 3px;
    margin-left: 12px;
    font-size: 15px;
}

.footer-container {
    position: absolute;
    display: flex;
    /* border: 1px solid black; */
    bottom: 0;
    width: 1200px;
    padding: 30px;
    margin-left: 100px;
    justify-content: space-between;
}

.footer {
    margin-left: 5px;
    /* font-style: italic; */
    color: gray;
    font-size: 14px;
}

.linkedin {
    color: #0077b5;
}
