.one-tweet-container {
    font-size: 14.9px;
    font-family: 'Helvetica Neue', sans-serif;
    /* width: 600px; */
    margin-left: -24px;
    padding-bottom: 30px;
    transition: 0s;
}

.one-tweet-container:hover {
    background-color: rgb(239, 243, 244);
    padding-left: 21px;
    margin-left: -45px;
}

.user-profile-img {
    height: 48px;
    width: 48px;
    border-radius: 100%;
}

.one-tweet-edit-btns {
    display: flex;
    width: 570px;
    margin-bottom: -26px;
    justify-content: flex-end;
}

.tweet-borders {
    border-top: 1px solid rgb(239, 243, 244);
    width: 600px;
    margin-left: -15px;
    margin-bottom: 10px;
    z-index: .5;
}

.container-tweet-contents {
    max-width: 470px;
    margin-left: 61px;
    text-decoration: none;
    margin-top: -24px;
}

.tweet-content-container {
    max-width: 470px;
    word-wrap: break-word;
    min-height: 30px;
}

.user-profile {
    display: inline-flex;
}

.user-info {
    display: flex;
    height: 26px;
    align-items: center;
}

.user-fullname {
    margin-left: 13px;
    align-content: flex-start;
    font-weight: 550;
    transition: .5s;
}

.user-fullname:hover {
    text-decoration: underline;
}

.user-tweets-fullname {
    transition: .5s;
}

.user-tweets-fullname:hover {
    text-decoration: none;
}

.user-username {
    margin-left: 5px;
    color: rgb(83, 100, 113);
}

.dropdown-container {
    position: absolute;
    margin-top: -105px;
    width: 150px;
    height: 100px;
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
}

.tweet-image-container {
    max-width: 500px;
    width: 500px;
    max-height: 400px;
    display: flex;
    border-radius: 5%;
    justify-content: center;
}

.tweet-image {
    max-width: 500px;
    border-radius: 5%;
    max-height: 400px;
}

.likes-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -15px;
}

.tweet-likes-count {
    margin-left: 3px;
    padding-bottom: 1px;
    color: grey;
    transition: 1s;
}

.tweet-likes-count:hover {
    color: red

}
